@model IEnumerable<Rayon>

@foreach (var rayon in Model)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @rayon.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var category in rayon.Categories)
            {
                <a class="dropdown-item" asp-route="category" asp-route-id="@category.Id" asp-route-name="@category.Name.ToSafeUrlString()">@category.Name</a>
            }
        </div>
    </li>
}